# 第3部 機械学習向けの加工と特殊なデータ加工

## 第7章 機械学習の前処理を行う10本ノック

### ノック81 : 機械学習で予測するデータを設定しよう

#### タイタニック号の生存状況データの読み込み

In [1]:
import seaborn as sns

dataset = sns.load_dataset('titanic')
dataset

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

#### 目的変数（生存状況）の読み込み

In [2]:
label = dataset.pop('survived')
label

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

### ノック82 : TrainデータとTestデータに分割しよう

#### データの分割

In [4]:
from sklearn.model_selection import train_test_split

train_ds, test_ds, train_label, test_label = train_test_split(dataset, label, random_state=2021, stratify=label)

display(train_ds)
display(test_ds)
display(train_label)
display(test_label)